

.jumbotron {
    background-image: url(header-bg.jpg);
    background-size: cover;
    position: relative;
    height: 580px;
}

#pinkbutton {
    background-color: #f53f51;
    border: #f53f51
}

.display-3 {
    color: #fff
}
 p {
     color: #fff
 }